/* Navbar */
.navbar {
   height: 7.00rem !important; 
}

.navbar-item img {
    max-height: 5.75rem !important; 
}

.navbar-item, .navbar-link {
    padding: .5rem 1.75rem !important;
}

/* Footer */
.hero-foot {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #232323
}

/* Cookie Consent https://www.osano.com/cookieconsent/documentation/about-cookie-consent/ */
.cc-compliance a {
    color: white !important;
}

/* Generelles Design */
a {
    color: #8769c3 !important;
    text-decoration: none;
    background-color: transparent;
}

/* Funktionsklassen */
.is-centered {
    text-align: center !important;
}

.not-center {
    text-align: initial !important;
}

/* Schriftarten */
@font-face {
    font-family: "Sans Forgetica";
    src: url(https://kvw.jp-motortechnik.de/css/SansForgetica-Regular.otf);
}