@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$blue: #4361ee;
$lighter-blue: #94A6F5;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $blue;
$link: $blue;
$link-hover: $lighter-blue;
$link-active: $blue;
$link-focus: $blue;
$tabs-link-color: $blue;
$tabs-link-hover-color: $lighter-blue;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";

$background: $grey-lighter;
$body-background-color: $background; 
$hr-background-color: $background;  