extends layout

block layout-content
  h1.title.is-size-1-desktop.is-size-2-touch.glitch(data-text="404")
    p Error 404
  h2.subtitle.is-size-6-touch.has-text-centered.is-inline-flex 
    p Page not found! Either it has been deleted or it doesn't exist yet :-)