extends layout

block layout-content
    .box.is-centered
        h1.is-size-1-desktop.is-size-2-touch.glitch About me 
        p I'm currently #{age} years old and I live in Germany together with my fiance
        br
        p I'm actually not a studied developer, I learned everything I know by just doing it.
        br
        p I am a certified AC Technician and I am working at a local hospital as AC Technician, so all the programming etc is just a hobby for me.
        br
        p I do have a long term friend living in the USA who I own a Development team called BlueMoonDevelopment with.
        p Also I am a main contributor of the ReVanced project, altho I'm currently inactive because I left the team for personal reasons.
        p I did learn alot about Android development and reverse engineering during that phase tho, so my next goal is to learn Android Development with kotlin.
        br
        p Me and my Fiance own two cats called Buli and Piez
        p Maybe more content will follow later, for now that's it about me.
