extends layout

block layout-content
  h1.title.is-size-1-desktop.is-size-2-touch.glitch(data-text="BlueMoonDevelopment")
    p BlueMoonDevelopment 
    br
  h2.subtitle.is-size-6-touch.has-text-centered
    p We are a small development team giving our best to make awesome software applications.
    br
    p We are specialised in Java, PHP, JavaScript, C, C++, C# and Rust.