extends layout

block layout-content
  h1.title.is-size-1-desktop.is-size-2-touch.glitch(data-text="TheJeterLP")
    p TheJeterLP
    br
  h2.subtitle.is-size-6-touch.has-text-centered
    p I'm specialised in Bukkit plugin development and Web development (Frontend and Backend)