block variables
doctype html
html
  head
    title #{title} | TheJeterLP
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Programming")
    meta(name="author" content="TheJeterLP")
    meta(name="keywords" content="Programming, java, php, sql, rust, pug, nodejs")

    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="shortcut icon", href="/favicon.ico")

    meta(name="theme-color", content="#ffffff")

    script(src="https://kit.fontawesome.com/1c0d30416a.js" crossorigin="anonymous")

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700") 
    link(rel="stylesheet" href="/css/mystyles.css")
    link(rel="stylesheet" href="/css/design.css")
    link(rel="stylesheet" href="/css/captcha.css")
    link(rel="stylesheet" href="/lib/to-top/material-scrolltop.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css")

  body
    section.hero.is-fullheight
        .hero-head 
            nav.navbar.is-primary
                .container 
                    .navbar-brand 
                        a.navbar-item(href="/")
                            figure.image.is128x128
                                img.is-rounded(alt="Logo" src="/img/logo.png" sizes="124x92")
                        span.navbar-burger.burger(data-target="navbarMenu")
                            span 
                            span 
                            span 
                    .navbar-menu#navbarMenu 
                        .navbar-start
                            a.navbar-item(href="/about") About
                            a.navbar-item(href="/projects") Projects
                            a.navbar-item(href="https://github.com/TheJeterLP" target="_blank") GitHub
                            .navbar-item.has-dropdown.is-hoverable
                                a.navbar-link Legal 
                                .navbar-dropdown 
                                    a.navbar-item(href="/imprint") Imprint 
                                    a.navbar-item(href="/privacy") Data protection 
        .hero-body
            .container          
                block layout-content
        footer.footer
            .hero-foot   
                .container
                    .level
                        .level-left
                            p © 2022 Joey Peter
                        .level-right 
                            .columns 
                                .column
                                    a(href="https://github.com/BlueMoonDevelopment" target="_blank")
                                        button.button.is-link.is-rounded
                                            span.icon 
                                                i.fab.fa-github
                                            span BlueMoonDevelopment
                                .column
                                    a(href="https://github.com/TheJeterLP/Website" target="_blank")
                                        button.button.is-link.is-rounded
                                            span.icon 
                                                i.fab.fa-github
                                            span Source Code                           
    canvas.background

    script(src="https://code.jquery.com/jquery-3.5.1.min.js")  
    script(src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false")
    script(src="/lib/to-top/material-scrolltop.js")
    script(src="/js/scripts.js")
    script(src="/js/particles.js")

    button.material-scrolltop(type="button")
    script.  
        $('body').materialScrollTop();
