extends layout

block layout-content
    h1  Privacy Policy 
    p
        | How we handle your personal data is explained in this data protection declaration. Applicable data protection law, in particular the General Data Protection Regulation (GDPR), applies. With the exception of the service providers and third-party providers that we name in this data protection declaration, we do not pass on any data to third parties. If you have any questions, please do not hesitate to contact us.
    h2  Content 
    ul
        li.first
            a(href='#verantwortlicher')  Responsible 
        li
            a(href='#allgemeine-informationen')  General information 
        li
            a(href='#datenverarbeitung-beim-aufruf-der-webseite')  Data processing when calling up the website 
        li
            a(href='#cookies-zaehlpixel-und-mobile-identifier')  Cookies, tracking pixels and mobile identifiers 
        li
            a(href='#kontaktaufnahme')  Contacting us 
        li
            a(href='#affiliate-links')  Affiliate links 
        li
            a(href='#weitere-drittdienste')  Other third-party services 
        li
            a(href='#profile-in-sozialen-netzwerken')  Profiles in social networks 
        li.last
            a(href='#rechte-betroffener-personen')  Rights of data subjects 
    h2#verantwortlicher  Responsible 
    p  Responsible for data processing is 
    p
        | Joey Peter 
        br
        |  Hauptstrasse 15A 
        br
        |  65597 H&uuml;nfelden 
        br
        | Germany
    h2#allgemeine-informationen  General information 
    p
        strong  Provision of data 
    p
        | In order to use our website, it is usually not required by law or contract to provide personal data. If the provision of data is necessary for the conclusion of a contract or the user is obliged to provide personal data, we will inform you of this fact and the consequences of not providing it in this data protection declaration.
    p
        strong  Data transfer to third countries 
    p
        | It is possible that we use service providers and third-party providers who are based in countries outside the European Union and the European Economic Area. The transfer of personal data to such third countries takes place on the basis of an adequacy decision by the European Commission (Art. 45 GDPR) or we have provided suitable guarantees to ensure data protection (Art. 46 GDPR). If there is an adequacy decision by the European Commission for the transfer of data to a third country, we will point this out in this data protection declaration. In addition, users can obtain a copy of the appropriate guarantees from us, unless this is already contained in the data protection declarations of the service providers or third-party providers.
    p
        strong  Automated decision-making 
    p
        | Should we carry out automated decision-making including profiling, we will inform you in this data protection declaration about this fact, about the logic involved and the scope and intended effects of such processing. Otherwise, automated decision-making does not take place.
    p
        strong  Processing for other purposes 
    p
        | Data are generally only processed for the purposes for which they were collected. If, as an exception, they should be processed for other purposes, we will inform you about these other purposes before further processing and provide all other relevant information (Art. 13 Para. 3 GDPR).
    h2#datenverarbeitung-beim-aufruf-der-webseite  Data processing when calling up the website 
    p
        | Each time our website is accessed, the user&apos;s browser transmits various data. For the duration of your visit to the website, the following data is processed and stored in log files even after the connection has ended:
    ul
        li
            | Browser type and version used
        li
            | Operating system
        li
            | Pages and files accessed
        li
            | Amount of data transferred
        li
            | Date and time of the call
        li
            | Provider of the user
        li
            | IP address
        li  Referrer URL 
    p
        | The processing of this data is necessary in order to be able to deliver the website to the user and to optimize it for his end device. The storage in log files serves to improve the security of our website (e.g. protection against DDOS attacks).
    p
        | The legal basis for the processing is Art. 6 Para. 1 Sub-Paragraph 1 Letter f) GDPR. Our legitimate interest lies in the provision of the website and the improvement of website security. Log files are automatically deleted after 1 days.
    h2#cookies-zaehlpixel-und-mobile-identifier  Cookies, tracking pixels and mobile identifiers 
    p
        | We use technologies on our website to recognize the device used. These can be cookies, tracking pixels and / or mobile identifiers.
    p
        | A terminal device can basically be recognized for different purposes. It may be necessary to provide functions on our website, for example to provide a shopping cart. In addition, the technologies mentioned can be used to understand the behavior of users on the site, for example for advertising purposes. Which technologies we use in detail and for which purposes are described separately in this privacy policy.
    p
        | For a better understanding, we explain in general how cookies, tracking pixels and mobile identifiers work:
    ul
        li
            p
                | Cookies are small text files that contain certain information and are stored on the user&apos;s device. In most cases, it is an identification number that is assigned to an end device (cookie ID).
        li
            p
                | A tracking pixel is a transparent graphic file that is integrated on a page and enables a log file analysis.
        li
            p
                | A mobile identifier is a unique number (Mobile ID) that is stored on a mobile device and can be read out on a website.
    p
        | Cookies may be required for our website to function properly. The legal basis for the use of such cookies is Art. 6 Para. 1 Subparagraph 1 Letter f) GDPR. Our legitimate interest lies in the provision of the functions of our website.
    p
        | We use cookies that are not required for the operation of our website in order to make our offer more user-friendly or to be able to understand the use of our website. The legal basis here depends on whether the consent of the user is to be obtained or whether we can invoke a legitimate interest. The user can revoke a given consent at any time through the settings in his browser.
    p
        | The user can prevent and object to the processing of data with the help of cookies by making the appropriate settings in his browser. In the event of an objection, not all functions of our website may be available. We provide separate information in this data protection declaration about further options for objecting to the processing of personal data by cookies. If necessary, we provide links with which an objection can be declared. These are labeled with &quot;Opt-Out&quot;.
    h2#kontaktaufnahme  Contact 
    p
        | If you contact us, we process the details of the user, date and time for the purpose of processing the request, including any queries.
    p
        | The legal basis for data processing is Art. 6 Para. 1 Sub-Paragraph 1 Letter f) GDPR. Our legitimate interest consists in answering our users&apos; inquiries. Additional legal basis is Art. 6 Para. 1 Subpara. 1 Letter b) GDPR, if the processing is necessary for the performance of a contract or for the implementation of pre-contractual measures.
    p
        | The data will be deleted as soon as the request including any queries has been answered. We check at regular intervals, but at least every two years, whether any data that has arisen in connection with making contact needs to be deleted.
    h2#affiliate-links  Affiliate links 
    p
        | We participate in affiliate programs. This means that we set links to partner companies. If a user clicks on such an affiliate link, we may receive a commission. In this case, it is necessary to assign the activities of the user on the partner company&apos;s website to our offer. This is done through the link or in another way, for example through cookies. The resulting data will be processed exclusively for this purpose.
    p
        | Insofar as we obtain the consent of the user, Art. 6 Paragraph 1 Subparagraph 1 Letter a) GDPR is the legal basis for the processing. The legal basis for the rest is Art. 6 para. 1 subpara. 1 letter f) GDPR. Our legitimate interest lies in the financing of our offer.
    p
        | The processed data will be deleted as soon as they are no longer required to settle the commission.
    h2#weitere-drittdienste  Other third-party services 
    p
    p
        strong  Google Adsense 
    p
        | We use Google AdSense. Provider: Google Ireland Ltd., Google Building Gordon House, 4 Barrow St, Dublin, D04 E5W5, Ireland.
    p
        | We place personalized advertisements via Google Adsense. Google uses cookies and tracking pixels in order to analyze the behavior of users and to be able to select suitable advertising. Among other things, the visits to our website and other websites that use AdSense are evaluated and assigned to a user ID. The data will not be merged with other user data stored by Google.
    p
        | Insofar as we obtain the consent of the user, the processing takes place on the legal basis of Art. 6 para. 1 subpara. 1 letter a) GDPR. Otherwise, it is based on Art. 6 Para. 1 Subpara. 1 Letter f) GDPR. Our legitimate interest lies in the delivery of interest-based advertising.
    p
        | Users can object to the use of data by Google for personalized advertising at any time with the following opt-out.
    p
        a(href='https://adssettings.google.com/')  Opt-Out 
    p
        a(href='https://policies.google.com/privacy?hl=de')  Google AdSense privacy policy 
    p
        strong  jQuery CDN 
    p
        | We use the content delivery network (CDN) jQuery CDN, which is operated by the jQuery Foundation. Technically, the CDN is provided byStackPath LLC, 2021 McKinney Ave. Suite 1100, Dallas, TX 75201.
    p
        | Contents are loaded from servers of the CDN. In order for a connection to be established, it is technically necessary to transmit the user&apos;s IP address.
    p
        | The legal basis for the processing is Art. 6 Para. 1 Subparagraph 1 Letter f) GDPR. Our legitimate interest lies in improving the speed and availability of our website.
    p
        a(href='https://www.stackpath.com/legal/privacy-statement/' rel='noopener noreferrer nofollow')  Data protection declaration from StackPath 
    p
    p
        strong  Unpkg CDN 
    p
        | We use the content delivery network (CDN) unpkg CDN. This is technically provided by Cloudflare Inc., 101 Townsend Street, San Francisco, California 94107.
    p
        | Contents are loaded from the CDN servers. In order for a connection to be established, it is technically necessary to transmit the user&apos;s IP address.
    p
        | The legal basis for the processing is Art. 6 Para. 1 Subpara. 1 Letter f) GDPR. Our legitimate interest lies in improving the speed and availability of our website.
    p
        a(href='https://www.cloudflare.com/de-de/privacypolicy/' rel='noopener noreferrer nofollow')  Cloudflare privacy policy 
    p
        strong  Instagram 
    p
        | We integrate content and buttons from the social network Instagram via a plugin on our website. Provider: Facebook Ireland Limited, 4 Grand Canal Square, Dublin 2, Ireland.
    p
        | In order to be able to load content from Instagram, it is technically necessary to transfer the IP address of the user to the company. If the user is logged in to Instagram, the visit to a page can be assigned to the account.
    p
        | Insofar as we obtain the consent of the user, the processing of data takes place on the legal basis of Art. 6 para. 1 subpara. 1 letter a) GDPR. Otherwise, it is based on Art. 6 Para. 1 Subpara. 1 Letter f) GDPR. Our legitimate interest in the integration of Instagram content and buttons consists in the user-friendly design of our website.
    p
        a(href='https://help.instagram.com/519522125107875')  Instagram privacy policy 
    p
        strong  Google reCAPTCHA 
    p
        | We use the reCAPTCHA service to increase the security and availability of our website. Provider: Google Ireland Ltd., Google Building Gordon House, 4 Barrow St, Dublin, D04 E5W5, Ireland.
    p
        | With queries we want to ensure that actions on our side are not triggered by bots. For this it is technically necessary to transfer the IP address of the user to Google.
    p
        | The legal basis for the processing is Art. 6 Para. 1 Subparagraph 1 Letter f) GDPR. Our legitimate interest lies in ensuring website security and protecting against spam and abuse.
    p
        a(href='https://policies.google.com/privacy?hl=de')  Data protection declaration from reCAPTCHA 
    p
        strong  FontAwesome 
    p
        | We use icons from Font Awesome on our website. Provider: Fonticons Inc., Corporation Trust Center 1209 Orange St., Wilmington, New Castle, DE 19801, USA.
    p
        | Technically, the icons are provided via the content delivery network StackPath. Provider: StackPath LLC, 2021 McKinney Ave. Suite 1100, Dallas, TX 75201. Contents are loaded from servers of the CDN. In order for a connection to be established, it is technically necessary to transmit the user&apos;s IP address. Fonticons processes data about the use of the CDN, but saves it in an identifiable form for a few weeks at most.
    p
        | The legal basis for processing is Art. 6 Para. 1 Sub-Paragraph 1 Letter f) GDPR. Our legitimate interest lies in the user-friendly design as well as improving the speed and availability of our website.
    p
        | We have concluded a data protection agreement with Fonticons. Using standard contractual clauses approved by the EU Commission, we and the company have provided suitable guarantees for the protection of personal data (Art. 28 GDPR).
    p
        a(href='https://fontawesome.com/privacy' rel='noopener noreferrer nofollow')  Fonticons privacy policy 
    p
        a(href='https://www.stackpath.com/legal/privacy-statement/' rel='noopener noreferrer nofollow')  Data protection declaration from StackPath 
    p
        strong  Google Fonts 
    p
        | We use Google Fonts on our website. Provider: Google Ireland Ltd., Google Building Gordon House, 4 Barrow St, Dublin, D04 E5W5, Ireland.
    p
        | Fonts are loaded from the Google server. In order to establish a connection to the server, it is technically necessary to transfer the IP address of the user.
    p
        | The legal basis for processing is Art. 6 Para. 1 Sub-Paragraph 1 Letter f) GDPR. Our legitimate interest lies in the shortening of loading times and a uniform display on different end devices.
    p
        a(href='https://policies.google.com/privacy?hl=de')  Data protection declaration from Google Fonts 
    h2#profile-in-sozialen-netzwerken  Profiles in social networks 
    p
        | We are present in one or more social networks. The details are: Instagram. When you contact us, we process personal data as described above under Contacting us.
    p
        | The providers of social networks process data in accordance with their data protection regulations, which can be accessed here:
    p
    ul
        li
            a(href='https://de-de.facebook.com/help/instagram/155833707900388' target='_blank')  Instagram 
    p
        | If a user is logged in with his account, the activities on our profile in the respective social network can be assigned to him if necessary. This can be done across devices and, if necessary, even without logging in, for example using cookies or mobile identifiers. The providers of social networks create pseudonymized user profiles based on the collected data, with which they can display personalized advertising in particular.
    h2#rechte-betroffener-personen  Rights of data subjects 
    p
        | If the user&apos;s personal data is processed, he is the data subject within the meaning of the GDPR. Affected persons have the following rights:
    p
        strong  Right to information: 
        |  The person concerned has the right to request confirmation as to whether personal data concerning them are being processed. If personal data is processed, the person concerned has the right to free information and a copy of the personal data that is the subject of the processing.
    p
        strong  Right to correction: 
        |  The person concerned has the right to request the immediate correction of incorrect or incomplete personal data.
    p
        strong  Right to deletion: 
        |  The person concerned has the right, in accordance with the statutory provisions, to request the immediate deletion of personal data relating to them.
    p
        strong  Right to restriction of processing: 
        |  The person concerned has the right to request a restriction on the processing of personal data concerning them in accordance with the statutory provisions.
    p
        strong  Right to data portability: 
        |  The data subject has the right to receive the personal data concerning him or her in a structured, common and machine-readable format or to request a transfer to another person responsible.
    p
        strong  Right to object: 
        |  The person concerned has the right at any time, for reasons that arise from their particular situation, to object to the processing of personal data concerning them, which is based on Art takes place to file an objection; this also applies to profiling based on these provisions. If personal data are processed in order to operate direct mail, the data subject has the right to object at any time to the processing of personal data concerning them for the purpose of such advertising; this also applies to profiling insofar as it is associated with such direct mail.
    p
        strong  Right of withdrawal: 
        |  The person concerned has the right to revoke their consent at any time.
    p
        strong  Right to complain: 
        |  The person concerned has the right to complain to a supervisory authority.
    p
        strong  Status of the data protection declaration: 
        |  08. March 2021
    p
        | This privacy policy was created with the generator by 
        a(href='https://www.einfach-abmahnsicher.de')  Einfach Abmahnsicher 
        |  created.