extends layout

block layout-content
    .columns
        .column
            .box 
                h1 Spigot Plugin Development
                br
                p Since 2014.
                br
                p My most famous Plugins are ChatEx, BukkitInventoryTweaks and AdminCMD.
                br
                p I've also created my own "Systems" over the years for Configuration handling and my own CommandAPI.
                p Same as my own UpdateChecker API
                br
                br
                .columns 
                    .column 
                        a(href="https://github.com/TheJeterLP/ChatEx" target="_blank")
                            button.button.is-link.is-outlined.is-rounded 
                                span.icon 
                                    i.fab.fa-github
                                span ChatEx
                    .column 
                        a(href="https://github.com/TheJeterLP/BukkitInventoryTweaks" target="_blank")
                            button.button.is-link.is-outlined.is-rounded 
                                span.icon   
                                    i.fab.fa-github 
                                span BukkitInventoryTweaks
                    .column 
                        a(href="https://github.com/AdminCMD" target="_blank")
                            button.button.is-link.is-outlined.is-rounded 
                                span.icon 
                                    i.fab.fa-github 
                                span AdminCMD
        .column 
            .box 
                h1 Web Development
                br
                p Since 2016.
                br
                p I've done a few websites over the years, including this one and the one from my development team Bluemoondev.org
                p I've started with PHP as backend language, but switched in 2021 to NodeJS.
                br
                br
                br
                .columns 
                    .column
                        a(href="https://www.bluemoondev.org" target="_blank")
                            button.button.is-link.is-outlined.is-rounded 
                                span.icon 
                                    i.fa-solid.fa-house
                                span BlueMoonDev.org
                    .column 
                        a(href="https://github.com/Blue-Moon-Development/NodeJS-Website" target="_blank")
                            button.button.is-link.is-outlined.is-rounded 
                                span.icon 
                                    i.fab.fa-github
                                span BlueMoonDev.org
        .column 
            .box 
                h1 General Development
                br
                p Since 2014
                br
                p I'm a little bit experienced with C++ and Rust, also I've done a few Projects with Arduinos and ESP32s using C++.
                br
                p Currently me and my Team are planning to create a Discord bot written in rust for learning purposes.
                br
                a(href="https://github.com/TheJeterLP/BigCarDisplay" target="_blank")
                    button.button.is-link.is-outlined.is-rounded 
                        span.icon 
                            i.fab.fa-github 
                        span CarDisplay
